fastapi
uvicorn
pymongo
python-dotenv
redis
openai
langchain
langchain-community
faiss-cpu
pdfplumber
gtts
whisper
PyJWT>=2.8.0
langchain-huggingface
sentence-transformers
faiss-cpu
aiofiles
